

.box-on-off{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vh;
    height: 40vh;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    background-image: linear-gradient(135deg, #1491ff, #0346b6);
    border-style: solid;
    border-radius:6px;
}

.box-button{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap:20px;

    
}
.button-on-off{
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    transition: background-color 0.3s; 
}

.button-on-off:hover{
    background-color: rgba(128, 128, 128, .4)
}

.active{
    background-color:black;
}




